*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h1 {
  display: flex;
  justify-content: center;
  text-align: center;
   
}

#gridContainer div{
  border: 1px solid rgba(157, 174, 180, 0.2);
  border-color: 45%;
  text-align: center;
  display: flex;
  flex-grow: 1;
  min-width: 110%;
  min-height: 110%;
  
}

#gridContainer{
  /* display: inline-block; */
  display: grid;
  /* flex-wrap: wrap; */
  /* grid-template-columns: repeat(auto-fill, 1fr);
  /* grid-template-columns: repeat(16, [col-start] 25px); */
  justify-content: center;
  /* grid-auto-rows: auto; */
  align-items: center;
  width: 500px;
  height: 500px;
  position: relative;
 




}


/* .row{
  display: flex;
  flex-grow: 1;
}  */

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#body{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

}

.slider{
  -webkit-appearance: none;
  height: 10px;
  border-radius: 20px 20px;;
  background: rgba(198, 149, 233, 0.5);
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(189, 161, 211);
  overflow: visible;
  cursor: pointer;
}